/*
 * jQuery FlexSlider v1.8
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */

/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}

/* FlexSlider Necessary Styles
*********************************/
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; } /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {  margin: 0 auto; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

.projImgs .flexSlideshow { height:100% }
#bodyContent .flex-caption{
	font-size:12px; 
	padding: 10px 10px 10px 0px; 
	margin: 40px 25px 25px 50px; 
	position: absolute; 
	left: 0; 
	top: 0; 
	text-indent:12px;
	}

.flexSlideshow .slides img{
	max-height:100%; max-width:100%;
} 


/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider { position: relative; zoom: 1;}
.flexslider .slides {zoom: 1;}
.flexslider .slides > li {position: relative;}
/* Suggested container for "Slide" animation setups. Can replace this with your own, if you wish */
.flex-container {zoom: 1; position: relative;}


/* Direction Nav */
.flex-direction-nav { 
	height: 0;
	
	zoom: 1; /* gives the object layout */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity : 0;
		
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	transition: all 0.2s ease-out;

 }
.flex-direction-nav li a {width: 52px; height: 52px; margin: -15px 0 0; display: block; background: url(../images/slider_bg_direction_nav.png) no-repeat; position: absolute; top: 45%; cursor: pointer; text-indent: -999em;}
.flex-direction-nav li .next {
		zoom: 1; /* gives the object layout */
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		filter: alpha(opacity=0);
		-moz-opacity: 0;
		-khtml-opacity: 0;
		opacity : 0;
		
		background-position: -52px 0; right: -10px;
		}
.flex-direction-nav li .prev {
		zoom: 1; /* gives the object layout */
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		filter: alpha(opacity=0);
		-moz-opacity: 0;
		-khtml-opacity: 0;
		opacity : 0;
		left: -10px;
		}
.flex-direction-nav li .disabled {opacity: .3; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: 10px; text-align: center;}
.flex-control-nav li {margin: 0 0 0 2px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-nav li:first-child {margin: 0;}
.flex-control-nav li a {width: 23px; height: 16px; display: block; background: url(../images/slider_bg_control_nav.png) no-repeat; cursor: pointer; text-indent: -999em;}
.flex-control-nav li a:hover {background-position: 0 -16px;}
.flex-control-nav li a.active {background-position: 0 -31px; cursor: default;}

.flexslider:hover .flex-direction-nav, .flexslider:hover .flex-direction-nav li .next, .flexslider:hover .flex-direction-nav li .prev {
	zoom: 1; /* gives the object layout */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  	filter: alpha(opacity=100);
  	-moz-opacity: 1;
  	-khtml-opacity: 1;
  	opacity : 1;
}

.flexslider:hover .flex-direction-nav li .next {
	right: 10px;
}
.flexslider:hover .flex-direction-nav li .prev {
	left: 10px;
}

.flex-direction-nav, .flex-direction-nav li .next, .flex-direction-nav li .prev { 
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	transition: all 0.2s ease-out;
}

@media screen and (max-width: 860px) {
	.flex-direction-nav .flex-next {opacity: 1; right: -20px; visibility:hidden }
	.flex-direction-nav .flex-prev {opacity: 1; left: -20px; visibility:hidden }
  
	.flexslider:hover .flex-next {opacity: 0.8; right: -20px;}
	.flexslider:hover .flex-prev {opacity: 0.8; left: -20px;}
	
  
}